#main-header .hamburger{
  height: 60px;
  width: 60px;
  background-color: #FD7D4C;
}

#main-header .hamburger .line{
  height: 2px;
  /* margin: 0.5rem 5px; */
  background: white;
}

#main-header .hamburger .line1{
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#main-header .hamburger .line2{
  /* margin-top: 1rem; */
  margin-bottom: 0.3rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

#main-header .hamburger .line3{
  /* margin-top: 1rem; */
  margin-bottom: 0.3rem;
  margin-right: 0.5rem;
  margin-left: 0.7rem;
}

